<h1 class= "text-center">Professor Ratings</h1>

<div class = "container">
  <table class = "table table-striped table-bordered">
    <tr>
      <th><%= sortable "first_name" %></th>
      <th><%= sortable "last_name" %></th>
      <th><%= sortable "university" %></th>
      <th><%= sortable "score" %></th>
      <th>Comments</th>
    </tr>
  
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.first_name %></td>
        <td><%= rating.last_name %></td>
        <td><%= rating.profile_id %></td>
        <td><%= rating.score %></td>
        <td><%= rating.comments %></td>
      </tr>
    <% end %>
  </table>

  <div class = "text-center">

    <a class="btn btn-default text-center" href="../ratings/new" role="button">New Professor Rating</a>

    <a class="btn btn-default text-center" href="../profiles" role="button">Professor Profiles</a>

  </div>



</div> 
