<p>
  <strong>First Name:</strong>
  <%= @rating.profile_id %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @rating.profile_id %>
</p>

<p>
  <strong>University:</strong>
  <%= @rating.profile_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @rating.score %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @rating.comments %>
</p>

<%= link_to 'Back', ratings_path %>